$defaultColor: #63656e;
$defaultHoverColor: #979ba5;
$defaultDisabledColor: #dcdee5;

$primaryColor: #006DFF;
$primaryHoverColor: #006DFFD9;
$primaryDisabledColor: #99C5FF;

$successColor: #2DCB56;
$successHoverColor: #45E35F;
$successDisabledColor: #94F5A4;

$warningColor: #FF9C01;
$warningHoverColor: #FFB848;
$warningDisabledColor: #FFD695;

$dangerColor: #EA3636;
$dangerHoverColor: #FF5656;
$dangerDisabledColor: #FD9C9C;

.bk-link {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    line-height: 20px;
    .bk-link-icon {
        font-size: 14px;
        &.is-left {
            margin-right: 4px;
        }
        &.is-right {
            margin-left: 4px;
        }
    }
    .bk-link-text {
        font-size: 14px;
    }
    &.is-default {
        color: $defaultColor;
        &:hover {
            color: $defaultHoverColor;
        }
        &.is-disabled {
            color: $defaultDisabledColor;
        }
    }
    &.is-primary {
        color: $primaryColor;
        &:hover {
            color: $primaryHoverColor;
        }
        &.is-disabled {
            color: $primaryDisabledColor;
        }
    }
    &.is-success {
        color: $successColor;
        &:hover {
            color: $successHoverColor;
        }
        &.is-disabled {
            color: $successDisabledColor;
        }
    }
    &.is-warning {
        color: $warningColor;
        &:hover {
            color: $warningHoverColor;
        }
        &.is-disabled {
            color: $warningDisabledColor;
        }
    }
    &.is-danger {
        color: $dangerColor;
        &:hover {
            color: $dangerHoverColor;
        }
        &.is-disabled {
            color: $dangerDisabledColor;
        }
    }
    &.is-disabled {
        cursor: not-allowed;
    }
    &.has-underline {
        text-decoration: underline;
    }
}
