.bk-navigation-menu-group {
  display: flex;
  flex-direction: column;
  min-height: 38px;
  align-items: center;
  font-size: 12px;
  color: #66748F;
  width: 100%;
  .group-name-wrap {
    color: #66748f;
    padding: 26px 0px 6px;
    display: flex;
    align-items: center;
    width: 100%;
    .group-name {
      margin: 0 18px;
      overflow: hidden;
      text-overflow: clip;
      white-space: nowrap;
      flex-wrap: nowrap;
      line-height: 16px;
    }
  }
}
