@import "./variable.css";

.bk-sideslider-show {
    overflow-y: hidden !important;
    body {
        overflow-y: hidden !important;
    }
    &.has-sideslider-padding {
        padding-right: 17px !important;
    }
}
.bk-sideslider {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, .6); */
    z-index: $sideSliderZIndex;
    &-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: #fff;
        overflow-y: auto;
        &.left {
            left: 0;
            box-shadow: 5px 0px 8px -5px rgba(0, 0, 0, 0.2);
        }
        &.right {
            right: 0;
            box-shadow: -5px 0px 8px -5px rgba(0, 0, 0, 0.2);
        }
    }
    &-header {
        width: 100%;
        height: 60px;
        background: #FFFFFF;
        &:before,
        &:after {
            content: '';
            display: table;
            line-height: 0;
        }
        &:after {
            clear: both;
        }
    }
    &-closer {
        width: 30px;
        height: 60px;
        line-height: 60px;
        background-color: #006DFF;
        text-align: center;
        color: #fff;
        cursor: pointer;
        font-size: $iconLargeSize;
        span {
            display: block;
            margin-top: 22px;
        }
    }
    &-title {
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #DCDEE5;
        font-size: 16px;
        font-weight: bold;
        color: #666;
    }
    &-content {
        overflow: auto;
    }
    &-footer {
        width: 100%;
        height: 54px;
        border-top: 1px solid transparent;
        background: #fff;
        display: flex;
        align-items: center;
    }
}
