@import "./mixins/scroller.css";
.bk-version {
    display: flex;
    margin: -23px -24px -16px;
    &-left {
        flex: 0 0 180px;
        background-color: #FAFBFD;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        position: relative;
        .left-fill {
            height: 20px;
            flex: 0 0 20px;
            border-right: 1px solid #DCDEE5;
            &.fill-top {
                margin-top: -10px;
            }
            &.fill-bottom {
                margin-bottom: -10px;
            }
        }
        .left-list {
            border-top: 1px solid #DCDEE5;
            border-bottom: 1px solid #DCDEE5;
            overflow-y: hidden;;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0;
            padding: 0;
            flex: 1;
            &-item {
                flex: 0 0 54px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 15px 0 30px;
                position: relative;
                border-bottom: 1px solid #DCDEE5;
                &:hover {
                    cursor: pointer;
                    background-color: #FFFFFF;
                }
                &.border-after {
                    &::after {
                        content: ' ';
                        width: 1px;
                        background: #DCDEE5;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                    }
                }
                .item-title {
                    color: #63656E;
                    font-size: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: 600;
                }
                .item-date {
                    color: #979BA5;
                }
                .item-current {
                    position: absolute;
                    right: 20px;
                    top: 8px;
                    background-color: #006DFFD9;
                    border-radius: 2px;
                    width: 58px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #FFFFFF;
                }
                &.item-active {
                    &::before {
                        content: " ";
                        position: absolute;
                        top: 0px;
                        bottom: 0px;
                        left: 0;
                        width: 6px;
                        background-color: #006DFF;
                    }
                    .item-title {
                        color: #313238;
                    }
                    .item-date {
                        color: #63656E;
                    }
                    background-color: #FFFFFF;
                }
            }
            &-fill {
                flex: 1;
                border-right: 1px solid #DCDEE5;
            }
            &-loading {
                flex: 0 0 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 1px solid #DCDEE5;
                border-bottom: 1px solid #DCDEE5;
                .bk-loading-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            &:hover {
                overflow-y: auto;
                margin-right: -6px;
            }
            &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
                background: rgba(0, 0, 0, .1);
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 6px;
                height: 100px;
                background: #C4C6CC;
                box-shadow: inset 0 0 6px rgba(204, 204, 204, 0.3);
            }
        }
        .resize-line {
            position: absolute;
            top: -10px;
            bottom: -10px;
            right: -6px;
            width: 13px;
            padding: 0 6px;
            z-index: 9999;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:before, &:after {
                content: ' ';
                width: 0;
                height: 0;
                border: 5px solid transparent;
                margin: 0 0 0 1px;
            }
            .drag-content {
                flex: 1;
                margin: -5px 0;
                width: 1px;
                background-color: transparent;
            }
            &:hover, &:active {
                .drag-content {
                    background-color: #006DFF;
                }
                &:before {
                    border-top-color: #006DFF;
                }
                &:after {
                    border-bottom-color: #006DFF;
                }
            }
        }
    }
    &-right {
        flex: 1;
        padding: 10px 30px 50px 45px;
        overflow: auto;
        @mixin scroller;
    }
}
.version-detail-dialog .bk-dialog-tool .bk-dialog-close {
    right: 10px;
}
