.demo-block {
    border: solid 1px #ebebeb;
    border-radius: 3px;
    transition: .2s;

    &.hover {
        box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
    }

    code {
        font-family: Menlo, Monaco, Consolas, Courier, monospace;
    }

    .demo-button {
        float: right;
    }

    .source {
        padding: 24px;
    }

    .meta {
        background-color: #fafafa;
        /* border-top: 1px solid #eaeefb; */
        overflow: hidden;
        height: 0;
        transition: height .2s;
        position: relative;
    }

    .description {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        border-top: 1px solid #ebebeb;
        font-size: 14px;
        line-height: 24px;
        word-break: break-word;
        background-color: #f9fafc;
        display: flex;

        .slot-wrapper {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 93%;
        }

        .trigger-wrapper {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 7%;
            .bk-button-text {
                width: 70px;
            }
        }

        p {
            margin: 0;
            line-height: 26px;
        }

        code {
            color: #5e6d82;
            background-color: #e6effb;
            margin: 0 4px;
            display: inline-block;
            padding: 1px 5px;
            font-size: 12px;
            border-radius: 3px;
            height: 18px;
            line-height: 18px;
        }
    }

    .highlight {
        border-top: 1px dashed #ebebeb;
        overflow-x: scroll;
        pre {
            margin: 0;
        }

        code.hljs {
            margin: 0;
            border: none;
            max-height: none;
            border-radius: 0;

            &::before {
                content: none;
            }
        }
    }

    .demo-block-control {
        border-top: solid 1px #eaeefb;
        height: 44px;
        box-sizing: border-box;
        background-color: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        text-align: center;
        margin-top: -1px;
        color: #d3dce6;
        cursor: pointer;
        position: relative;

        &.is-fixed {
            position: fixed;
            bottom: 0;
            width: 868px;
        }

        i {
            font-size: 16px;
            line-height: 44px;
            transition: .3s;
            &.hovering {
                transform: translateX(-40px);
            }
        }

        > span {
            position: absolute;
            transform: translateX(-30px);
            font-size: 14px;
            line-height: 44px;
            transition: .3s;
            display: inline-block;
        }

        &:hover {
            color: #409EFF;
            background-color: #f9fafc;
        }

        & .text-slide-enter,
        & .text-slide-leave-active {
            opacity: 0;
            transform: translateX(10px);
        }

        .control-button {
            line-height: 26px;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 14px;
            padding-left: 5px;
            padding-right: 25px;
        }
    }
}

@media screen and (max-width: 1460px)  {
    .demo-block {
        .description {
            .slot-wrapper {
                flex-basis: 90%;
            }

            .trigger-wrapper {
                flex-basis: 10%;
            }
        }
    }
}

@media screen and (max-width: 1340px)  {
    .demo-block {
        .description {
            .slot-wrapper {
                flex-basis: 90%;
            }

            .trigger-wrapper {
                flex-basis: 10%;
            }
        }
    }
}

/* @media screen and (min-width:1291px) and (max-width: 1680px)  {
    .app-container {
        .app-content {
            padding: 0 60px;
        }
    }
}
@media screen and (max-width: 1395px) {
    .app-container .font-wrapper {
        margin-bottom: 380px;
    }
}
 */
